:root {
  --theme-color: white;
  --primary-color: #ff8800;
  --secundary-color: #F7C331;
  --text-color-inverse: white;
  --text-color: black;
  --navbar-shallow-color: #e5e5e5;
  --menu-mobile-background-color: #ff8800;
}

body{
  font-family: 'Righteous';
  background-color: white;
  color: var(--text-color);
}

a{
  text-decoration: none;
  color: var(--text-color);
}